In [1]:
import numpy as np 
import pandas as pd 
import matplotlib as plt 
import seaborn as sns
import sklearn

In [2]:
df = pd.read_csv("housing.csv")

In [3]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [4]:
df["median_income_categories"] = pd.cut(df["median_income"],
                                        bins=[0.0,1.5,3.0,4.5,6.0,np.inf],
                                        labels=[1,2,3,4,5])

In [5]:
from sklearn.model_selection import StratifiedShuffleSplit

In [6]:
#prepare data

In [7]:
sss = StratifiedShuffleSplit(n_splits=10, test_size=0.2, random_state=40)
stratified_split=[]
for train_i , test_i in sss.split(df,df["median_income_categories"]):
    stratified_train_set_n=df.iloc[train_i]
    stratified_test_set_n=df.iloc[test_i]
    stratified_split.append([stratified_train_set_n, stratified_test_set_n])

In [8]:
str_train_set = stratified_train_set_n.drop("median_income_categories",axis=1)
str_test_set = stratified_test_set_n.drop("median_income_categories",axis=1)

In [9]:
train = str_train_set

In [10]:
train_features = train.drop("median_house_value",axis=1)
train_target = train["median_house_value"]

test_features = test_data.drop("median_house_value",axis=1)
test_target = test_data["median_house_value"]

NameError: name 'test_data' is not defined

In [ ]:
#data cleaning

In [ ]:
train_features.info()

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler

In [ ]:
simple_imputer = SimpleImputer(strategy="median")

In [ ]:
train_features_numeric = train_features.select_dtypes(include=[np.number])
train_features_numeric.info()

In [ ]:
simple_imputer.fit(train_features_numeric)

In [ ]:
simple_imputer.statistics_

In [ ]:
simple_imputer.transform(train_features_numeric).shape

In [ ]:
train_features_numeric = pd.DataFrame(simple_imputer.transform(train_features_numeric),
                                      columns = train_features_numeric.columns,
                                      index = train_features_numeric.index)

In [ ]:
train_features_numeric.info()

In [ ]:
#pipe lines

In [ ]:
numerical_features_pipeline = Pipeline([
    ("medianImputer", SimpleImputer(strategy="median")),
    ("minMaxscaler", MinMaxScaler())
])

In [ ]:
numerical_features_pipeline.fit_transform(train_features_numeric)

In [ ]:
from sklearn.compose import ColumnTransformer

In [ ]:
numerical_features = list(train_features.columns)
numerical_features.remove("ocean_proximity")
numerical_features

In [ ]:
list(train_features.columns)

In [ ]:
categorical_features=["ocean_proximity"]

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
categorical_features_pipeline = Pipeline([
    ("mfImputer", SimpleImputer(strategy="most_frequent")),
    ("ohe",OneHotEncoder())
])

In [ ]:
numerical_features_pipeline = Pipeline([
    ("medianImputer", SimpleImputer(strategy="median")),
    ("minMaxscaler", MinMaxScaler())
])

In [ ]:
total_transformation = ColumnTransformer([
    ("numerical", numerical_features_pipeline, numerical_features),
    ("categorical", categorical_features_pipeline, categorical_features)
])

In [ ]:
total_transformation.fit_transform(train_features)

In [ ]:
#all of the transformations

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
train_data,test_data = train_test_split(df,
                                        test_size=0.2,
                                        stratify=df["median_income_categories"],
                                        random_state=40)

In [ ]:
train_data = train_data.drop(columns="median_income_categories")

In [ ]:
test_data = test_data.drop(columns="median_income_categories")

In [ ]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import FunctionTransformer
from sklearn.preprocessing import StandardScaler

In [ ]:
heavy_tale_pipeline = make_pipeline(
    SimpleImputer(strategy="median"),
    FunctionTransformer(np.log, feature_names_out="one_to_one"),
    StandardScaler()
)